SDL/Makefile
SDL/SDL.spec
SDL/aclocal.m4
SDL/autom4te.cache/
SDL/build-deps
SDL/build/
SDL/config.log
SDL/config.status
SDL/configure
SDL/include/SDL_config.h
SDL/include/SDL_revision.h
SDL/libtool
SDL/sdl-config
SDL/sdl.pc
SDL/test/aclocal.m4
SDL/test/autom4te.cache/
SDL/test/configure
SDL_mixer/Makefile
SDL_mixer/SDL_mixer.qpg
SDL_mixer/SDL_mixer.spec
SDL_mixer/aclocal.m4
SDL_mixer/autom4te.cache/
SDL_mixer/build-deps
SDL_mixer/build/
SDL_mixer/config.log
SDL_mixer/config.status
SDL_mixer/configure
SDL_mixer/libtool
SDL_ttf/.deps/
SDL_ttf/.libs/
SDL_ttf/Makefile
SDL_ttf/Makefile.in
SDL_ttf/SDL_ttf.lo
SDL_ttf/SDL_ttf.o
SDL_ttf/SDL_ttf.spec
SDL_ttf/aclocal.m4
SDL_ttf/autom4te.cache/
SDL_ttf/config.log
SDL_ttf/config.status
SDL_ttf/configure
SDL_ttf/depcomp
SDL_ttf/glfont
SDL_ttf/glfont.o
SDL_ttf/install-sh
SDL_ttf/libSDL_ttf.la
SDL_ttf/libtool
SDL_ttf/missing
SDL_ttf/showfont
SDL_ttf/showfont.o
